/******************************************************
    REGOLE GENERALI
*******************************************************/

:root {
    --dark: #080B12;
    --main-color: #141922;
    --grey: #282828;
}

body {
    height: 100vh;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.col-col {
    flex-direction: column;
}

.col-col-reverse {
    flex-direction: column-reverse;
}

.no-shrink {
    flex-shrink: 0;
}

.col-fix {
    /* TODO: DESKTOP SIZE
    flex-basis: 15.25rem; */
    flex-basis: 0;
}

.col-grow {
    flex-basis: 0;
    flex-grow: 1;
}

.button {
    background-color: transparent;
    border-radius: 20px;
    color: #FFF;
    padding: 1em 2em;
    border: 1px solid currentColor;
}

.btn__large {
    padding: 0.5em 3em;
}

/******************************************************
TOP SITE - MAIN CONTAINER
*******************************************************/

.main-container {
    flex-grow: 1;
}

/******************************************************
    HEADER - SIDEBAR
*******************************************************/

.main-container .sidebar {
    background-color: #000;
}

/******************************************************
    MAIN - MAIN
*******************************************************/

/******************************************************
    SECTION UPGRADE
*******************************************************/

.main-container .upgrade {
    background-color: var(--dark);
}

/* Con il contenuto non servirà */
/* .main-container .upgrade.col-fix {
    flex-basis: 5.5rem;
} */

/******************************************************
    SECTION - CONTAINER
*******************************************************/

.main-container .container {
    background-color: var(--main-color);
}

/******************************************************
    CONTAINER - NAV
*******************************************************/

/******************************************************
    CONTAINER - CONTENT
*******************************************************/

.container .container-content {
    overflow: auto;
}

/******************************************************
    ASIDE PLAYER
*******************************************************/

.player {
    background-color: var(--grey);
}

/******************************************************
    TODO: DEBUG RULES
*******************************************************/

/* .debug .main-main {
    background-color: aqua;
} */

body.debug {
    color: blue;
}

.debug .sidebar {
    padding: 1rem;
}

.debug .upgrade {
    padding: 2rem;
}

.debug .container-nav {
    padding: 1rem;
}