/******************************************************
    REGOLE GENERALI
*******************************************************/

:root {
    --dark: #080B12;
    --main-color: #141922;
    --grey: #282828;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.col-col {
    flex-direction: column;
}

.col-col-reverse {
    flex-direction: column-reverse;
}

.button {
    background-color: transparent;
    border-radius: 20px;
    color: #FFF;
    padding: 1em 2em;
    border: 1px solid currentColor;
}

.btn__large {
    padding: 0.5em 3em;
}