/******************************************************
    REGOLE GENERALI
*******************************************************/

:root {
    --dark: #080B12;
    --main-color: #141922;
    --grey: #282828;
}

body {
    height: 100vh;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.col-col {
    flex-direction: column;
}

.col-col-reverse {
    flex-direction: column-reverse;
}

.no-shrink {
    flex-shrink: 0;
}

/* .col-fix {
    
} */

.col-grow {
    flex-basis: 0;
    flex-grow: 1;
}

.button {
    background-color: transparent;
    border-radius: 80px;
    color: #FFF;
    padding: 1em 2em;
    border: 1px solid currentColor;
}

.btn__large {
    padding: 0.5em 3em;
}

/******************************************************
TOP SITE - MAIN CONTAINER
*******************************************************/

.main-container {
    flex-grow: 1;
}

/******************************************************
    HEADER - SIDEBAR
*******************************************************/

.sidebar {
    background-color: #000;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    max-width: 4rem;
}

.sidebar ul {
    gap: 0.5rem;
}

.sidebar li * {
    vertical-align: middle;
}

.sidebar li img {
    width: 1.5rem;
}

.sidebar li:first-child img {
    width: 2rem;
}

.sidebar li a span,
.sidebar li a h1 {
    display: none;
    color: #FFF;
}

.sidebar .sidebar-head li:first-child img,
.sidebar .sidebar-head li:first-child span {
    filter: invert(1);
}

.sidebar li:nth-child(2) img,
.sidebar li:nth-child(2) span {
    filter: invert(0.1);
}

.sidebar li:nth-child(n + 3) img,
.sidebar li:nth-child(n + 3) span {
    filter: invert(0.2);
}

.sidebar .sidebar-body {
    display: none;
}

.sidebar .download * {
    filter: invert(0.5);
    font-weight: bold;
    vertical-align: middle;
}

.sidebar .download .container-arrow {
    /* margin-right: 1rem; */
    margin-bottom: 2rem;
    border: 1.5px solid #000;
    border-radius: 100%;
    display: inline-block;
    width: 1.1rem;
    font-size: 0.6rem;
    line-height: 1rem;
    text-align: center;
}

.sidebar .download span {
    display: none;
}

.sidebar .download::after {
    content: "";
    border-bottom: 1px solid #666;
    display: block;
    margin: 1rem 0;
    width: 12rem;
    display: none;
}

.sidebar .sidebar-footer {
    align-items: center;
}

.sidebar .sidebar-footer figure * {
    vertical-align: middle;
}

.sidebar .sidebar-footer figcaption {
    display: none;
    color: #FFF;
}

.sidebar .sidebar-footer img {
    background-color: grey;
    border-radius: 50%;
    width: 2rem;
    aspect-ratio: 1;
}

.sidebar .sidebar-body .sidebar-body__title {
    padding: 1.75rem 0 1rem;
    color: #FFF;
}

.sidebar .sidebar-body .add__playlist {
    background-color: #656565;
    padding: 0.5rem;
    color: #000;
    margin-bottom: 1.5rem;
}

.sidebar .sidebar-body span {
    color: #FFF;
    filter: invert(0.2);
}

.sidebar .sidebar-body ul {
    gap: 1.5rem;
}


/******************************************************
    MAIN - MAIN
*******************************************************/

/******************************************************
    SECTION UPGRADE
*******************************************************/

.main-container .upgrade {
    background-color: var(--dark);
    justify-content: flex-end;
}

/******************************************************
    SECTION - CONTAINER
*******************************************************/

.main-container .container {
    background-color: var(--main-color);
    overflow: auto;
    position: relative;
}

/******************************************************
    CONTAINER - NAV
*******************************************************/

.container .container-nav {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--main-color);
}

/******************************************************
    CONTAINER - CONTENT
*******************************************************/



/******************************************************
    ASIDE PLAYER
*******************************************************/

.player {
    background-color: var(--grey);
    /* Restringendo in altezza arriverà ad essere l'unico elemento visibile */
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
}

.player .col-mid {
    padding: 0 2.25rem;
    gap: 1rem;
    width: 33rem;
    margin: 0 auto;
}

.player .fake-player__bar {
    height: 6px;
    background-color: #3A3A3A;
    border-radius: 1rem;
    flex-grow: 1;
    align-self: center;
    margin: 0 0.5rem;
}

.player .fake-player__bar .bar__inside {
    background-color: #C1C1C1;
    border-radius: 1rem;
    width: 17.5%;
    height: 100%;
}

/******************************************************
    MEDIA QUERY
*******************************************************/

@media screen and (min-width: 639px) {

    /******************************************************
        HEADER - SIDEBAR
    *******************************************************/

    .sidebar {
        align-items: flex-start;
        max-width: 14rem;
    }

    .sidebar li a span,
    .sidebar li a h1 {
        display: inline-block;
    }

    .sidebar .sidebar-head li:first-child img {
        width: 2.5rem;
    }

    .sidebar .sidebar-head li:first-child {
        padding: 1rem 0 1rem;
    }

    .sidebar .sidebar-body {
        display: block;
    }

    .sidebar .download span {
        display: inline;
    }

    .sidebar .download::after {
        display: block;
    }

    .sidebar .sidebar-footer {
        align-items: flex-start;
    }

    .sidebar .download .container-arrow {
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .sidebar .sidebar-footer figcaption {
        display: inline;
    }

    .sidebar .sidebar-body .add__playlist {
        display: inline-block;
    }

}

/******************************************************
    TODO: DEBUG RULES
*******************************************************/

/* .debug .main-main {
    background-color: aqua;
} */

body.debug {
    color: blue;
}

.debug .player {
    /* padding: 2rem; */
}

/* .debug .sidebar {
    padding: 1rem;
} */

.debug .upgrade {
    padding: 2rem;
}

.debug .container-nav {
    padding: 1rem;
}